In [1]:
import pandas as pad
import numpy as num

In [2]:
dataset=pad.read_csv("Churn_Modelling.csv")

In [3]:
dataset.head(40)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0
20,21,15577657,McDonald,732,France,Male,41,8,0.00,2,1,1,170886.17,0
21,22,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0
22,23,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1
23,24,15725737,Mosman,669,France,Male,46,3,0.00,2,0,1,8487.75,0
24,25,15625047,Yen,846,France,Female,38,5,0.00,1,1,1,187616.16,0
25,26,15738191,Maclean,577,France,Male,25,3,0.00,2,0,1,124508.29,0
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
27,28,15700772,Nebechi,571,France,Male,44,9,0.00,2,0,0,38433.35,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
29,30,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1,1,53483.21,0
30,31,15589475,Azikiwe,591,Spain,Female,39,3,0.00,3,1,0,140469.38,1
31,32,15706552,Odinakachukwu,533,France,Male,36,7,85311.70,1,0,1,156731.91,0
32,33,15750181,Sanderson,553,Germany,Male,41,9,110112.54,2,0,0,81898.81,0
33,34,15659428,Maggard,520,Spain,Female,42,6,0.00,2,1,1,34410.55,0
34,35,15732963,Clements,722,Spain,Female,29,9,0.00,2,1,1,142033.07,0
35,36,15794171,Lombardo,475,France,Female,45,0,134264.04,1,1,0,27822.99,1
36,37,15788448,Watson,490,Spain,Male,31,3,145260.23,1,0,1,114066.77,0
37,38,15729599,Lorenzo,804,Spain,Male,33,7,76548.60,1,0,1,98453.45,0
38,39,15717426,Armstrong,850,France,Male,36,7,0.00,1,1,1,40812.90,0
39,40,15585768,Cameron,582,Germany,Male,41,6,70349.48,2,0,1,178074.04,0

In [4]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [5]:
dataset.corr()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,1.000000,0.004202,0.005840,0.000783,-0.006495,-0.009067,0.007246,0.000599,0.012044,-0.005988,-0.016571
CustomerId,0.004202,1.000000,0.005308,0.009497,-0.014883,-0.012419,0.016972,-0.014025,0.001665,0.015271,-0.006248
CreditScore,0.005840,0.005308,1.000000,-0.003965,0.000842,0.006268,0.012238,-0.005458,0.025651,-0.001384,-0.027094
Age,0.000783,0.009497,-0.003965,1.000000,-0.009997,0.028308,-0.030680,-0.011721,0.085472,-0.007201,0.285323
Tenure,-0.006495,-0.014883,0.000842,-0.009997,1.000000,-0.012254,0.013444,0.022583,-0.028362,0.007784,-0.014001
Balance,-0.009067,-0.012419,0.006268,0.028308,-0.012254,1.000000,-0.304180,-0.014858,-0.010084,0.012797,0.118533
NumOfProducts,0.007246,0.016972,0.012238,-0.030680,0.013444,-0.304180,1.000000,0.003183,0.009612,0.014204,-0.047820
HasCrCard,0.000599,-0.014025,-0.005458,-0.011721,0.022583,-0.014858,0.003183,1.000000,-0.011866,-0.009933,-0.007138
IsActiveMember,0.012044,0.001665,0.025651,0.085472,-0.028362,-0.010084,0.009612,-0.011866,1.000000,-0.011421,-0.156128
EstimatedSalary,-0.005988,0.015271,-0.001384,-0.007201,0.007784,0.012797,0.014204,-0.009933,-0.011421,1.000000,0.012097
Exited,-0.016571,-0.006248,-0.027094,0.285323,-0.014001,0.118533,-0.047820,-0.007138,-0.156128,0.012097,1.000000

In [6]:
X=dataset[['CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary']]

In [7]:
y=dataset["Exited"]

In [8]:
geography=dataset["Geography"]
geography=pad.get_dummies(geography,drop_first=True)

In [9]:
gender = dataset["Gender"]
gender=pad.get_dummies(gender,drop_first=True)

In [10]:
tenure=dataset["Tenure"]
tenure=pad.get_dummies(tenure,drop_first=True)

In [11]:
products=dataset["NumOfProducts"]
products=pad.get_dummies(products,drop_first=True)

In [12]:
active=dataset["IsActiveMember"]
active=pad.get_dummies(active,drop_first=True)

In [13]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [14]:
X=dataset[['CreditScore','Age', 'Balance','EstimatedSalary']]

In [15]:
hascrcard=dataset["HasCrCard"]
hascrcard=pad.get_dummies(hascrcard,drop_first=True)

In [16]:
X_final=pad.concat([X,gender,geography,tenure,products,hascrcard,active],axis=1)

In [17]:
X_final

,CreditScore,Age,Balance,EstimatedSalary,Male,Germany,Spain,1,2,3,...,6,7,8,9,10,2,3,4,1,1
0,619,42,0.00,101348.88,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,1
1,608,41,83807.86,112542.58,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,502,42,159660.80,113931.57,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,1,0
3,699,39,0.00,93826.63,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,850,43,125510.82,79084.10,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,0.00,96270.64,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
9996,516,35,57369.61,101699.77,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,1
9997,709,36,0.00,42085.58,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
9998,772,42,75075.31,92888.52,1,1,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
9999,792,28,130142.79,38190.78,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [18]:
from keras.models import Sequential

In [19]:
mind=Sequential()

In [20]:
mind.get_config

In [21]:
from keras.layers import Dense

In [22]:
mind.add(Dense(bias_initializer="zeros",kernel_initializer="zeros",activation="relu",units=12,input_dim=22))

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_final, y, test_size=0.33, random_state=42)

In [24]:
mind.get_config()

{'name': 'sequential',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 22),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense',
    'trainable': True,
    'batch_input_shape': (None, 22),
    'dtype': 'float32',
    'units': 12,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [25]:
mind.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 12)                276
=================================================================
Total params: 276
Trainable params: 276
Non-trainable params: 0
_________________________________________________________________

In [26]:
mind.add(Dense(activation="relu",units=8))

In [27]:
mind.add(Dense(kernel_initializer="zeros",bias_initializer="zeros",activation="relu",units=6))

In [28]:
mind.get_config()

{'name': 'sequential',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 22),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense',
    'trainable': True,
    'batch_input_shape': (None, 22),
    'dtype': 'float32',
    'units': 12,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_1',
    'trainable': True,
    'dtype': 'float32',
    'units': 8,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_2',
    'trainable': True,
    'dtype': 'float32',
    'units': 6,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [29]:
mind.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 12)                276
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 104
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 54
=================================================================
Total params: 434
Trainable params: 434
Non-trainable params: 0
_________________________________________________________________

In [30]:
mind.add(Dense(activation="sigmoid",units=1))

In [31]:
mind.get_config()

{'name': 'sequential',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 22),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense',
    'trainable': True,
    'batch_input_shape': (None, 22),
    'dtype': 'float32',
    'units': 12,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_1',
    'trainable': True,
    'dtype': 'float32',
    'units': 8,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_2',
    'trainable': True,
    'dtype': 'float32',
    'units': 6,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_3',
    'trainable': True,
    'dtype': 'float32',
    'units': 1,
    'activation': 'sigmoid',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [32]:
from keras.optimizers import Adam

In [36]:
mind.compile(optimizer=Adam(learning_rate=0.01),loss="binary_crossentropy")

In [37]:
mind.fit(X_train,y_train,epochs=100)

Epoch 1/100
210/210 [==============================] - 2s 2ms/step - loss: 0.5161
Epoch 2/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5047
Epoch 3/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5109
Epoch 4/100
210/210 [==============================] - 1s 5ms/step - loss: 0.5161
Epoch 5/100
210/210 [==============================] - 1s 5ms/step - loss: 0.5020
Epoch 6/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5057
Epoch 7/100
210/210 [==============================] - 1s 5ms/step - loss: 0.5013
Epoch 8/100
210/210 [==============================] - 1s 5ms/step - loss: 0.5145
Epoch 9/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5040
Epoch 10/100
210/210 [==============================] - 1s 5ms/step - loss: 0.5189
Epoch 11/100
210/210 [==============================] - 1s 5ms/step - loss: 0.5071
Epoch 12/100
210/210 [==============================] - 1s 5ms/step - loss: 0.5084
Epoch 13/100
210/210 [==============================] - 1s 5ms/step - loss: 0.5120
Epoch 14/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5151
Epoch 15/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5086A: 0s
Epoch 16/100
210/210 [==============================] - ETA: 0s - loss: 0.516 - 1s 4ms/step - loss: 0.5159
Epoch 17/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5140
Epoch 18/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5051
Epoch 19/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5098
Epoch 20/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5065
Epoch 21/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5136
Epoch 22/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5282
Epoch 23/100
210/210 [==============================] - 1s 5ms/step - loss: 0.5078
Epoch 24/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5124
Epoch 25/100
210/210 [==============================] - 1s 5ms/step - loss: 0.5056
Epoch 26/100
210/210 [==============================] - 1s 5ms/step - loss: 0.5167
Epoch 27/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5061
Epoch 28/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5052
Epoch 29/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5124
Epoch 30/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5090
Epoch 31/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5213
Epoch 32/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5088
Epoch 33/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5012
Epoch 34/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5177
Epoch 35/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5133
Epoch 36/100
210/210 [==============================] - 1s 5ms/step - loss: 0.5096
Epoch 37/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5168
Epoch 38/100
210/210 [==============================] - 1s 5ms/step - loss: 0.5093
Epoch 39/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5228
Epoch 40/100
210/210 [==============================] - 1s 5ms/step - loss: 0.5061
Epoch 41/100
210/210 [==============================] - 1s 5ms/step - loss: 0.5082
Epoch 42/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5097
Epoch 43/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5172
Epoch 44/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5120
Epoch 45/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5072
Epoch 46/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5218
Epoch 47/100
210/210 [==============================] - 0s 2ms/step - loss: 0.5105
Epoch 48/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5109
Epoch 49/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5004
Epoch 50/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5178
Epoch 51/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5166
Epoch 52/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5086
Epoch 53/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5039
Epoch 54/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5209A: 0s - loss:
Epoch 55/100
210/210 [==============================] - 1s 4ms/step - loss: 0.4967
Epoch 56/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5145
Epoch 57/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5059
Epoch 58/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5185
Epoch 59/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5129
Epoch 60/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5177
Epoch 61/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5082
Epoch 62/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5100
Epoch 63/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5132
Epoch 64/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5166
Epoch 65/100
210/210 [==============================] - 1s 3ms/step - loss: 0.4969
Epoch 66/100
210/210 [==============================] - 1s 5ms/step - loss: 0.5113
Epoch 67/100
210/210 [==============================] - 1s 5ms/step - loss: 0.5104
Epoch 68/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5179
Epoch 69/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5112
Epoch 70/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5244
Epoch 71/100
210/210 [==============================] - 0s 2ms/step - loss: 0.5073
Epoch 72/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5225
Epoch 73/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5123A: 0s - l
Epoch 74/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5102
Epoch 75/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5008
Epoch 76/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5133
Epoch 77/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5158
Epoch 78/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5036
Epoch 79/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5160
Epoch 80/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5064
Epoch 81/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5190A: 0s - loss:
Epoch 82/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5180
Epoch 83/100
210/210 [==============================] - 1s 2ms/step - loss: 0.5053
Epoch 84/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5098
Epoch 85/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5041
Epoch 86/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5047
Epoch 87/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5103
Epoch 88/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5013
Epoch 89/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5093
Epoch 90/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5095
Epoch 91/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5119
Epoch 92/100
210/210 [==============================] - 1s 2ms/step - loss: 0.5049
Epoch 93/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5152
Epoch 94/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5015
Epoch 95/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5113
Epoch 96/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5079
Epoch 97/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5063
Epoch 98/100
210/210 [==============================] - 1s 3ms/step - loss: 0.5113
Epoch 99/100

210/210 [==============================] - 1s 3ms/step - loss: 0.5180
Epoch 100/100
210/210 [==============================] - 1s 4ms/step - loss: 0.5058

In [ ]:
mind.predict(X_test)